.products {
  display: flex;
  }
  .sidebar-filter{
    flex: 0 0 auto;
  }

  .productListing {
    text-align: center;
    flex: 1 1 0;
   
    /* height: calc(100vh - 20vh + 20px); */
    /* overflow-y: scroll; */
  }
  
  .productListing .products-list {
    display: flex;
    flex-wrap: wrap;
     gap: 1.5rem;
    justify-content: space-evenly;
    list-style: none;
    margin-block-start: 10;
    justify-items: center;
    padding: 0 10px 10px;
    padding-left: 30px;
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 500px) {
    .productListing {
      padding-bottom: 4rem;
    }
    .products-list{
      margin-bottom: 5%;
    }
  }